html,
body {
  min-width: 700px;
  background-color: #f8f2e9;
}
.page {
  background-color: #f8f2e9;
  padding: 20px;
}

#body_region {
  float: left;
  width: 50%;
}

#video_duration {
  float: right;
  width: 50%;
}

#randomizeButton {
  width: 134px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.dropdownContainer {
  text-align: center;
  margin: 0 auto;
}

#settingsButton {
  width: 134px;
  text-align: center;
  margin: 0 auto;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#defaultButton {
  background-color: #ffbe5b;
  border-radius: 8px;
  border: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #545c52;
}
